# this file .c2o.config goes in your home directory. 
# Add user and password to chamilo once you obtain them

# WARNING: do not push this file to repository with credentials in it

# credentials for chamilo
user  
pswd  

# chamilo instance and api
host  https://academia.idiomaspuentes.org
api   plugin/courseway/api/v1

# obsidian vault with training content
vault /cygdrive/c/Users/Owner/Resilio Sync/Training/Catalog
template basic.html

# local environment
editor notepad.exe

